.mb-0-input {
  .v-input__slot {
    margin-bottom: 0 !important;
  }

  .v-text-field__details {
    margin-bottom: 0 !important;
  }

  .v-input__append-outer {
    margin: 2px 8px 0 0 !important;
  }
}

.v-application {
  font-family: $lightIR !important;
  background-color: var(--v-mainBack-base);
}

.v-btn {
  letter-spacing: 0 !important;
}

.v-tab {
  letter-spacing: 0 !important;
}

.v-data-table {
  .v-data-table-header {
    background-color: var(--v-mainBack-base) !important;
  }

  //! progress styles
  .progress-box {
    width: 100%;
    margin-right: -16px;
    display: flex;
    align-items: center;
    position: absolute !important;
  }

  &.theme--dark {
    .progress-box {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &.theme--light {
    .progress-box {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.v-pagination {
  button {
    width: 36px !important;
    height: 36px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin: 0 4px !important;
  }
}

.v-input--radio-group {
  .v-radio {
    &.radio-ripple-off {
      margin-right: 8px !important;

      .v-input--selection-controls__input {
        margin-left: 4px !important;
      }
    }

    &.radio-md-down {
      .v-input--selection-controls__input {
        .v-icon {
          font-size: 20px !important;
        }
      }
    }
  }
}

.v-list-group {
  .v-list-item__icon {
    margin-right: 0 !important;

    &.v-list-group__header__append-icon {
      min-width: 0px !important;
    }
  }
}

.v-list {
  &.theme--dark {
    background: var(--v-boxBack-base) !important;
  }
}

.v-input__slot {
  min-height: 36px !important;

  .v-label {
    font-size: 14px !important;
  }

  .v-select__selections {
    padding: 2px 0 !important;
  }
}

.v-input__append-inner {
  margin-top: 6px !important;
}

.vpd-body{
  background-color: var(--v-boxBack-base) !important;
}

.v-input__append-outer{
  margin: 0 10px 0 0 !important;
}

.v-input--radio-group--row .v-input--radio-group__input > .v-label {
  padding-right: 0 !important;
}

.v-select-list {
  .v-list-item--active::before {
    background-color: var(--v-mainColor-base) !important;
  }
  .v-list-item__title {
    color: var(--v-mainColor-base) !important;
  }
}

.v-card {
  box-shadow: 0 0 20px 0 lightgrey !important;
}

.v-toolbar {
  z-index: 10!important;
  position: relative;
  height: 110px !important;
}

.v-expansion-panel-content__wrap {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*
.v-label {
  right: 0 !important;
  left: auto !important;
}

.v-application--wrap {
  background-color: var(--v-mainBack-base);
  -ms-overflow-style: none !important; !* IE and Edge *!
  scrollbar-width: none !important; !* Firefox *!
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.v-autocomplete__content {
  .v-list {
    background: var(--v-boxBack-lighten1) !important;
  }
}

.v-expansion-panel-header {
  padding-left: 0 !important;
  padding-right: 12px !important;
}

.v-expansion-panel-header__icon {
  margin-top: -12px !important;
}

.v-pagination__item {
  background: var(--v-boxBack-base) !important;
}

.v-pagination__navigation {
  background: var(--v-boxBack-base) !important;
}

.select-item .v-input__slot {
  background: var(--v-boxBack-base) !important;
}

.theme--dark.v-list {
  background: var(--v-boxBack-base) !important;
}

.v-list-item--highlighted {
  background-color: var(--v-mainBack-lighten1) !important;
}

.v-list-item--active {
  background-color: var(--v-mainBack-base) !important;
}

.v-tabs > .v-tabs-bar {
  background-color: var(--v-boxBack-base) !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.v-tabs-bar__content {
  .v-tab {
    letter-spacing: 0 !important;
  }
}

.v-select {
  &.v-select-md-down {
    .v-input__slot {
      min-height: 20px !important;
      padding: 0 16px !important;

      .v-select__slot {
        .v-label {
          top: 4px !important;
          font-size: 0.8rem !important;
          font-weight: 500 !important;

          &.v-label--active {
            right: 9px !important;
            transform: translateY(-10px) scale(0.75) !important;
          }
        }

        .v-select__selections {
          padding: 0 !important;
          min-width: 5.5rem !important;
          width: min-content !important;

          input {
            padding: 1px 0 !important;
          }
        }

        .v-input__append-inner {
          margin-top: 3px !important;
        }
      }
    }

    .v-text-field__details {
      .v-messages {
        font-size: 8px !important;
      }
    }
  }
}

.v-menu__content {
  &.v-menu-md-down {
    .v-list {
      padding: 0 !important;

      .v-list-item {
        padding: 0 8px !important;

        .v-list-item__content {
          padding: 4px 0 !important;

          .v-list-item__title {
            font-size: 0.6rem !important;
          }
        }
      }
    }
  }
}

.v-input--checkbox {
  &.v-checkbox-md-down {
    .v-input__slot {
      .v-input--selection-controls__input {
        margin-left: 2px !important;

        .v-icon {
          font-size: 20px !important;
        }
      }

      .v-label {
        font-size: 12px !important;
      }
    }
  }
}

.v-chip {
  &.v-chip-md-down {
    height: 28px !important;

    .v-chip__content {
      font-size: 12px !important;

      .v-icon {
        font-size: 16px !important;
      }
    }
  }
}

.v-autocomplete {
  &.v-autocomplete-md-down {
    .v-input__slot {
      min-height: 20px !important;
      padding: 0 16px !important;

      .v-select__slot {
        .v-label {
          top: 4px !important;
          font-size: 0.8rem !important;
          font-weight: 500 !important;

          &.v-label--active {
            right: 9px !important;
            transform: translateY(-10px) scale(0.75) !important;
          }
        }

        #destination-cities {
          line-height: 10px !important;
          padding: 0 !important;
        }

        .v-input__append-inner {
          margin-top: 3px !important;
        }
      }
    }
  }
}

.v-expansion-panels {
  .v-expansion-panel {
    .v-expansion-panel-header {
      padding: 0 12px 0 !important;
    }

    .v-expansion-panel-content {
      .v-expansion-panel-content__wrap {
        padding: 0 12px 12px !important;
      }
    }
  }
}

.v-input--radio-group {
  .v-radio {
    &.radio-ripple-off {
      margin-right: 8px !important;

      .v-input--selection-controls__input {
        margin-left: 4px !important;
      }
    }

    &.radio-md-down {
      .v-input--selection-controls__input {
        .v-icon {
          font-size: 20px !important;
        }
      }
    }
  }
}

.v-card {
  .v-card__title {
    word-break: normal !important;
  }
}*/
